.playwrite-us-trad-guides-regular {
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.caveat-<uniquifier > {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  color: #f3f8f2;
  font-family: "Quicksand";
}
#title {
  font-family: "Playwrite US Trad Guides";
  text-align: center;
  font-size: 60px;
  color: #fdceaf;
}

#signature {
  position: fixed;
  bottom: 0;
  left: 20px;
  font-family: "Quicksand";
}

a {
  color: #67b106;
}
a:hover {
  color: #4190c8;
}

#input-form {
  text-align: center;
}
#input-language-1 {
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #4190c8;
  background-color: #4190c81b;
  color: #f3f8f2;
  padding: 5px;
}

#input-language-2 {
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid #4190c8;
  background-color: #4190c81b;
  color: #f3f8f2;
  padding: 5px;
}

#generate {
  font-size: 25px;
  border-radius: 30px;
  border: 2px solid #4190c8;
  margin-top: 15px;
  background-color: #4190c89c;
  padding: 10px;
}
#generate:hover {
  background-color: #fdceaf9c;
  border: 2px solid #fdceaf;
  transition: 200ms;
}

#poem {
  font-family: "caveat";
  text-align: center;
  font-size: 35px;
  margin: 25px;
}
